<h1>Conversations</h1>

<ul>
  <% @conversations.each do |conversation| %>
    <li>
      <%= link_to "Conversation ##{conversation.id}", conversation_path(conversation) %>
      — <%= conversation.channel %>
    </li>
  <% end %>
</ul>
