<h1>Atendimento</h1>

<p>
  <strong>User_id:</strong> <%= @conversation.user_id %>
</p>

<p>
  <strong>Canal:</strong> <%= @conversation.channel %>
</p>

<p>
  <strong>Content:</strong> <%= @conversation.content %>
</p>

<hr>

<%= link_to "⬅ Voltar para lista", root_path %>
