<h1>Classifications#index</h1>
<p>Find me in app/views/classifications/index.html.erb</p>


<h1>Classifications</h1>

<%#= link_to "New Classification", new_classification_path %>

<ul>
  <% @classifications.each do |classification| %>
    <li>
      <%= link_to "#{classification.tag}", classification_path(classifications_show) %>
    </li>
  <% end %>
</ul>

<h2>Top Pareto Classifications (80%)</h2>

<ul>
  <% @pareto.each do |item| %>
    <li>
      <strong><%= item.tag %></strong>
      — <%= item.cum_pct.to_i %>% cumulative
    </li>
  <% end %>
</ul>

<%= link_to "⬅ Back to Conversations", root_path %>
