<h1>Classifications#show</h1>
<p>Find me in app/views/classifications/show.html.erb</p>

<h1><%= @classification.name %></h1>

<p>Detalhes da classificação.</p>


<%= link_to "⬅ Back", classifications_path %>
