.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar {
  position: relative;
  z-index: 500;        /* HIGHER than navbar */
}

.navbar-greeting {
  position: absolute;
  left: 22%;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}
