// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/sidebar";

@import "pages/index";

@import "dashboard";
@import "config/tokens";
@import "config/base";

@import "config/fonts";
@import "config/base";
@import "pages/analytics";
@import "pages/home";

// @import "pages/classification_show";
@import "pages/conversations";

@import "base/variables";
@import "components/cards";
@import "components/carousel";
@import "components/roadmap";
@import "pages/strategic_plan";

@import "components/ai_widget";

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

body {
  background-color: #fcf7f7 !important;
}

a {
  text-decoration: none;
}

/* Dashboard colors */
:root {
  --questions: #2563eb;
  --complaints: #f97316;
  --product_insights: #8b5cf6;
}


.app-layout {
  display: flex;
}


.app-main {
  flex: 1;
  padding: 24px;
}
